.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 10%
  &-2
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 78%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

     
.tarjeta.color-primario-c
  background-color: $color-primario !important
.tarjeta.color-secundario-c
  background-color: $color-secundario !important
.tarjeta.color-acento-contenido-c
  background-color: $color-acento-contenido !important

.tarjeta.color-primario,.cajon.color-primario,.cajon.color-primario-c
  background-color: lighten($color-primario, 60%)

.cajon.color-secundario,.cajon.color-secundario-c
  background-color: lighten($color-secundario, 8%)

.cajon.color-acento-contenido-c
  background-color: lighten($color-acento-contenido, 12%)

.tarjeta.color-acento-contenido
  background-color: lighten($color-acento-contenido, 12%)
.tarjeta.color-acento-botones
  background-color: lighten($color-acento-botones, 25%)
.bloque-texto-a.color-secundario
  background-color: lighten($color-secundario, 12%)
  
.tarjeta.color-white
  background-color: $white

.tarjeta.color-primario 
  p,h4,em,li,i,span,b
    color: #000

.linea-tiempo-c__header__item__year 
  color: #000 !important
.linea-tiempo-c__header__btn--left,.linea-tiempo-c__header__btn--right
  i 
    color: #000 !important

.tabla-b,.tabla-a
  tr.cabecera-a
    background-color: lighten($color-secundario, 12%)
  .cabecera-b
    background-color: lighten($color-secundario, 12%) !important

.bloque-texto-d.color-primario::before
  background-color: lighten($color-primario, 13%) !important

.tarjeta--boton
  background-color: #F1ECE6


@media only screen and (width: 768px) 
  .col-ipad
    margin-right: 5rem !important
    width: 80%
  .ipad-b
    .slyder-b__slyde
      .row
        margin-right: 5rem !important
        width: 80%
@media only screen and (width: 390px) 
  .col-ipad
    margin-right: 5rem !important
    width: 80%
  .ipad-b
    .slyder-b__slyde
      .row
        margin-right: 5rem !important
        width: 80%

.lista-ol--cuadro__vineta
  span
    color: $black

.lista-ol--cuadro__vineta span
  color: $white !important
.acordion__activo
  background-color: lighten($color-secundario, 10%) !important

.acordion__accion__btn--a,.acordion__accion__btn--b,.slyder__btn,.slyder-a__btn--atrs,.slyder-a__btn--sigt
  background-color: $color-acento-botones
  i
    color: $white

.lista-ol--cuadro__vineta.custom
  border-radius: 2em
  padding: 1em
  font-weight: bold
@media (min-width: 992px)
  .w-lg-50
    width: 50%
  .tarjeta-avatar-b .tarjeta.color-primario--borde
    padding-left: 4%


.img-infografica__card
  width: 400px
// .img-infografica__item
//   width: 5.5%

.tarjeta-numerada.color-acento-contenido
  background-color: #F1ECE6


///////// Card hover --------------------------------------
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: lighten($color-acento-botones, 10%) 
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em



.titulo-h3
  h3
    color: #4E1A5D


.tarjetas-up
  overflow: hidden
  border-radius: 5px
  position: relative
  &_card
    transition: bottom .3s ease-in-out
    position: absolute
    border-radius: 5px
    width: 100%
    height: 100%
    left: 0
    bottom: -75%
    @media (max-width: $bp-max-md)
      bottom: -75%
    i:last-child
      display: none
  &:hover
    .tarjetas-up_card
      bottom: 0%
      // @media (max-width: $bp-max-xl)
      //   bottom: -15%
      // @media (max-width: $bp-max-lg)
      //   bottom: 0
      // @media (max-width: $bp-max-md)
      //   bottom: -30%
      // @media (max-width: $bp-max-sm)
      //   bottom: -20%
      // @media (max-width: $bp-max-xs)
      //   bottom: 0
    i:first-child
      display: none
    i:last-child
      display: block

.linea-tiempo-e__item__header
  width: 10%
.linea-tiempo-e__item__body
  width: 90%
.linea-tiempo-e:before
    left: 10%

.acordion__accion__btn--b
  border: #FFF
  .fas
    color: #FFF !important

.tarjeta.color-adicional-1
  background-color: $color-adicional-1

span.icon
  color: $color-acento-contenido 

.tabla-a
  td 
    text-align: center
    img
      width: auto
      margin: 0 auto

.tabs-a__tab
  background-color: $color-adicional-1

ul.lista-ul--separador.ms-3
  li 
    i.fas.fa-angle-right
      color: $color-acento-contenido


//// Tarjetas --------------------------------------
.crd
  &.brd--rad
    border-radius: 20px 
  &.crd--grayGrad
    padding: 2rem
    height: 100%
    background-color: #F6F6F6
    border-radius: 15px    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    &:hover      
      background: linear-gradient(180deg, rgba(25,137,226,1) 0%, rgba(10,81,139,1) 100%)
      h4, p
        color: white 
      .bottomCircle
        &::before
          background-color: #FED981
  &.crd--blue
    background-color: #B1DBEA

  &.crd--border
    border: 4px solid $color-acento-botones
    border-radius: 20px

.bottomCircle
  position: relative
  & > *
    position: relative
  &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 115px
    height: 115px
    background-color: #116EB9
    border-radius: 999px

.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5 
    color: #000000
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: lighten($color-secundario, 9%)

  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first, .crd--last
  &::before 
    background-color: lighten($color-primario, 60%) !important

.crd--first
  &::before 
    border-top-left-radius: 30px
.crd--last
  &::before 
    border-bottom-left-radius: 30px
    
.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  @media (max-width: 1000px)
    display: none


///// utilidades --------------------------------------
.img65
  width: 65px  
.img90
  width: 90px  
.img250
  width: 250px  
.brd--rad
  border-radius: 20px
.hr--line
  margin: 1rem 0
  width: 100%
  height: 1px  
  background-color: #B0C0D2
.b--rad
  border-radius: 0px 0px 20px 20px 
.bg--gradientBlue        
  background: linear-gradient(0deg, rgba(215,236,252,1) 0%, rgba(239,246,252,1) 100%)

.dialogo.color-primario .dialogo__words__word
  color: #3c7792 !important